@model hcmuslib.Models.DOCGIA
@{
    ViewBag.Title = "BarcodeReader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>BarcodeReader</title>

    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/html5-qrcode.min.js"></script>
   

</head>


<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Kiểm tra độc giả</h1>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Kiểm tra độc giả</li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->

<section class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary" style="width:380px">
                <div class="panel-heading">
                    <h3 class="panel-title">Scan QR code here: </h3>
                </div>
                <div class="panel-body">
                    <div class="camera" style="height:360px;">

                        <div style="width: 350px; height: 350px;" id="qrcodebox">
                            
                            <div id="reader" style="width:300px;height:250px">
                                <video autoplay="autoplay" id="html5_qrcode_video" width="300" height="250"></video>
                                <canvas id="qr-canvas" width="298" height="248" style="display:none;"></canvas>
                            </div>
                            <script>
                                $('#reader').html5_qrcode(function (data) {
                                    // do something when code is read
                                    $("#qrcode_result").html(data);
                                    $('#text').val(data);
                                    $('#myForm1').submit();
                                    },
                                    function (error) {
                                        //show read errors
                                    }, function (videoError) {
                                        //the video stream could be opened
                                        $("#qrcode_result").html("the video stream could be opened");
                                    }
                                );
                            </script>
                            
                        </div>
                        <p>
                            <span id="qrcode_result"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form id="myForm1" action="/Circulator/InputLibrarian" method="post">
                Mã Độc Giả: <input id="text" type="text" name="DGSearch" class="form-control" style="width:200px;height:30px" onsubmit="function onchange() { $('#myForm1').submit() };" value="@ViewBag.DGSearch" />
            </form>           
            @if(ViewBag.DGSearch != null)
            {                            
                if(Model.MS_THE != null)
                {
                    <br />
                    <img src="@Url.Content("~/images/team-member.jpg")" alt="" class="img-thumbnail">
                    <br />
                    <h3>Thông Tin Cá Nhân: </h3>
                    <p><strong>Họ Tên: </strong>@Model.HO_TEN</p>
                    <p><strong>Loại Độc Giả: </strong>@Model.LOAI_DOC_GIA</p>
                    <p><strong>Email: </strong> @Model.EMAIL</p>
                    <p>
                        <strong>Tình Trạng: </strong>
                        @if (Model.TINH_TRANG == "1")
                        {
                            @("Hoạt Động");
                        }
                        @if (Model.TINH_TRANG == "0")
                        {
                            @("Vi Phạm");
                        }
                    </p>
                }     
                else
                {
                    <h4>Độc Giả Không Tồn Tại</h4>
                }

            }


</div>
        </div>
</section><!--/#terms-->
