@{
    ViewBag.Title = "Độc giả mượn sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/html5-qrcode.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>@ViewBag.Title</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <h4>Cho phép mượn sách tại thư viện</h4>
        <form class="form-horizontal" role="form">
            <div class="camera" style="height:250px;">

                <div style="width: 300px; height: 250px;" id="qrcodebox">

                    <div id="reader" style="width:300px;height:250px">
                        <video autoplay="autoplay" id="html5_qrcode_video" width="300" height="250"></video>
                        <canvas id="qr-canvas" width="298" height="248" style="display:none;"></canvas>
                    </div>
                    <script>
                        $('#reader').html5_qrcode(function (data) {
                            // do something when code is read
                            $("#qrcode_result").html(data);
                            $(":focus").val(data);
                        },
                            function (error) {
                                //show read errors
                            }, function (videoError) {
                                //the video stream could be opened
                                $("#qrcode_result").html("the video stream could be opened");
                            }
                        );
                    </script>
                    <p>
                        <span id="qrcode_result"></span>
                    </p>
                </div>
            </div>
            <div class="gap"></div>
            <div class="form-group">
                <label for="id_reader" class="col-sm-2 control-label">Mã đọc giả</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="id_reader" id="id_reader" placeholder="Nhập mã đọc giả">
                    <p id="error-empty-reader" class="error-message text-center">
                    </p>
                </div>

                <label for="id_book" class="col-sm-2 control-label">Mã sách</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="id_book" id="id_book" placeholder="Nhập mã sách">
                    <p id="error-empty-book" class="error-message text-center">

                    </p>
                </div>

                <div class="col-sm-2 col-sm-push-1">
                    <button type="button" class="btn btn-success" id="add-row" onclick="AddRow()">Xác nhận</button>
                </div>
            </div>
        </form>
    </div>
    <div class="gap"></div>
    <div class="row">
        <h4>Danh sách đọc giả yêu cầu mượn sách</h4>
        @using (Html.BeginForm("SaveLentBookInfo", "Circulator", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-cir" }))
        {
            <div class="form-group">
                <table id="circulation" class="table table-bordered">
                    <tr>
                        <th>Người mượn</th>
                        <th>Sách mượn</th>
                        <th>Ngày mượn</th>
                        <th>Ngày trả</th>
                        <th>Xác nhận</th>
                    </tr>
                    <tr></tr>
                </table>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Xác nhận cho mượn</button>
                <button type="button" class="btn btn-success" onclick="">In</button>
            </div>
        }
    </div>
</section>


<script>
    function AddRow() {

        var table = document.getElementById("circulation");
        var madg = document.getElementById("id_reader");
        var masach = document.getElementById("id_book");
        if (madg.value == "" || masach.value == "") {
            $('#error-empty-reader').innerHTML = "Chưa nhập mã độc giả";
            $('#error-empty-book').innerHTML = "Chưa nhập mã sách";
        } else {
            var tensach = "";
            var tendocgia = "";
            $.ajax({
                url: '@Url.Action("getinfo")',
                type: "POST",
                data: { dg: madg.value, sach: masach.value },

                success: function (data) {
                    if (data != null) {
                        tendocgia = data.docgia;
                        tensach = data.sach;
                        var now = new Date();

                        var row = table.insertRow(1);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        var cell5 = row.insertCell(4);
                        cell1.innerHTML = tendocgia + '<input type="hidden" name="docgia[]" value="' + madg.value + '" />';
                        cell2.innerHTML = tensach + '<input type="hidden" name="sach[]" value="' + masach.value + '" />';
                        cell3.innerHTML = "@DateTime.Now";
                        cell4.innerHTML = "@DateTime.Now.AddDays(14)";
                        cell5.innerHTML = "<button type='button' name='cancel' class='btn btn-danger' onclick='DelRow(this)'>Hủy</button>";
                    } else {
                        alert("Mã độc giả/mã sách nhập sai. Vui lòng nhập lại!");
                    }
                }
            })
        }

    }
    function DelRow(o) {
        var p = o.parentNode.parentNode;
        p.parentNode.removeChild(p);
    }
</script>
