@{
    ViewBag.Title = "ManageReaderImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Quản lý hình ảnh</h1>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Quản lý hình ảnh</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->    

    <section class="container">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-2 control-label" for="id-reader">Mã đọc giả</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="id-reader" name="id-reader">
				</div>	
				<div class="col-md-1">
					<button type="button" class="btn btn-success">Tìm</button>
				</div>
			</div>
		</form>
		<div class="gap"></div>
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<img src="@Url.Content("~/Images/team-member.jpg")" alt="" class="img-thumbnail" >
					</div>
					<div class="col-md-6">
						<p>DG0001</p>
						<p>Thông tin</p>
					</div>
				</div>
				<div class="row">
					<input type="file" id="upload-img-">
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-upload"></span> Upload
					</button>
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-remove"></span> Remove
					</button>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<img src="@Url.Content("~/Images/team-member.jpg")" alt="" class="img-thumbnail" >
					</div>
					<div class="col-md-6">
						<p>DG0001</p>
						<p>Thông tin</p>
					</div>
				</div>
				<div class="row">
					<input type="file" id="upload-img-">
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-upload"></span> Upload
					</button>
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-remove"></span> Remove
					</button>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<img src="@Url.Content("~/Images/team-member.jpg")" alt="" class="img-thumbnail" >
					</div>
					<div class="col-md-6">
						<p>DG0001</p>
						<p>Thông tin</p>
					</div>
				</div>
				<div class="row">
					<input type="file" id="upload-img-">
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-upload"></span> Upload
					</button>
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-remove"></span> Remove
					</button>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<img src="@Url.Content("~/Images/team-member.jpg")" alt="" class="img-thumbnail" >
					</div>
					<div class="col-md-6">
						<p>DG0001</p>
						<p>Thông tin</p>
					</div>
				</div>
				<div class="row">
					<input type="file" id="upload-img-">
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-upload"></span> Upload
					</button>
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-remove"></span> Remove
					</button>
				</div>
			</div>
		</div>
		<div class="gap"></div>
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<img src="@Url.Content("~/Images/team-member.jpg")" alt="" class="img-thumbnail" >
					</div>
					<div class="col-md-6">
						<p>DG0001</p>
						<p>Thông tin</p>
					</div>
				</div>
				<div class="row">
					<input type="file" id="upload-img-">
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-upload"></span> Upload
					</button>
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-remove"></span> Remove
					</button>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<img src="@Url.Content("~/Images/team-member.jpg")" alt="" class="img-thumbnail" >
					</div>
					<div class="col-md-6">
						<p>DG0001</p>
						<p>Thông tin</p>
					</div>
				</div>
				<div class="row">
					<input type="file" id="upload-img-">
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-upload"></span> Upload
					</button>
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-remove"></span> Remove
					</button>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<img src="@Url.Content("~/Images/team-member.jpg")" alt="" class="img-thumbnail" >
					</div>
					<div class="col-md-6">
						<p>DG0001</p>
						<p>Thông tin</p>
					</div>
				</div>
				<div class="row">
					<input type="file" id="upload-img-">
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-upload"></span> Upload
					</button>
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-remove"></span> Remove
					</button>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<img src="@Url.Content("~/Images/team-member.jpg")" alt="" class="img-thumbnail" >
					</div>
					<div class="col-md-6">
						<p>DG0001</p>
						<p>Thông tin</p>
					</div>
				</div>
				<div class="row">
					<input type="file" id="upload-img-">
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-upload"></span> Upload
					</button>
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-remove"></span> Remove
					</button>
				</div>
			</div>
		</div>
    </section><!--/#terms-->
