@model IEnumerable<hcmuslib.Models.DOCGIA>
@{
    ViewBag.Title = "Search Reader Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Quản lý hình ảnh</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Quản lý hình ảnh</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/#title-->

<section class="container">
    <form action="/Librarian/Search" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-md-2 control-label" for="id-reader">Mã độc giả</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="id-reader" />
            </div>
            <div class="col-md-1">
                <input type="submit" class="btn btn-success" name="action:Search" value="Tìm kiếm" />
            </div>
            <div class="col-md-1">
                <input type="submit" class="btn btn-success" name="action:BackToAll" value="Tất cả" />
            </div>
        </div>
    </form>
    <div class="gap"></div>
    @{var i = 1;}
    @foreach (var item in Model)
    {
        if (i % 4 == 1)
        {
            @:<div class="row">
        }
            @:<div class="col-md-3">
				@:<div class="row">
					@:<div class="col-md-6">
                        if (item.IMAGE_URL == null)
                        { 
                            @:<img src="@Url.Content("~/Images/noavatar.png")" alt="" class="img-thumbnail" />
                        }
                        else
                        {
                            @:<img src="@Url.Content("~/Images/profilePic/" + item.IMAGE_URL)" alt="" class="img-thumbnail" />
                        }
					@:</div>
					@:<div class="col-md-6">
						@:<p>@item.MS_THE</p>
						@:<p>@item.HO_TEN</p>
					@:</div>
				@:</div>
				@:<div class="row">
                    using (Html.BeginForm(null, "Librarian", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="file" name="file" /><br />
                        <input type="hidden" name="mathe" value="@item.MS_THE">
                        <div class="row">
                            <div class="col-md-3"><input type="submit" class="btn btn-default btn-sm" name="action:Upload" value="Upload" /></div>
                            <div class="col-md-3"><input type="submit" class="btn btn-default btn-sm" name="action:Remove" value="Remove" /></div>
                        </div>
                    }                    
		        @:</div>
		    @:</div>
        if (i % 4 == 0)
        {
            @:</div><div class="gap"></div>
        }
        i++;
    }
</section>
<!--/#terms-->
