@model IEnumerable<hcmuslib.Models.LUUHANHSACH>

@{
    ViewBag.Title = "ViewMS";
}
<head>
    <title>Theo Doi Muon Sach - Thư viện ĐH KHTN TPHCM</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/prettyPhoto.css" rel="stylesheet">
    <link href="/Content/animate.css" rel="stylesheet">
    <link href="/Content/main.css" rel="stylesheet">
    <link href="/Content/mystyle.css" rel="stylesheet">
</head>
<section id="theo_doi_don_hang" class="container">
    <div class="row">
        <h4>Theo doi Muon Sach </h4>                
        <form id="myForm" action="/LibrarianSupporter/ViewMS" method="post">
            <input type="text" name="keySearch" class="form-control" style="width:200px;height:30px" onsubmit="OnchangeMSType();" value="@ViewBag.keySearch"  />
            <select class="form-control" style="width:200px;height:30px" id="mySelect" name="MSType" onchange="OnchangeMSType();">
                <option value="0" selected=@ViewBag.MsType0>All</option>
                <option value="1" selected=@ViewBag.MsType1>Hoan Thanh</option>
                <option value="2" selected=@ViewBag.MsType2>Chua Hoan Thanh</option>
                <option value="3" selected=@ViewBag.MsType3>Gan Den Han</option>
            </select>
        </form>
        <br />

        <script>
            function OnchangeMSType() {
                $('#myForm').submit();
            }
        </script>
        <div>

        </div>
        <table class="table table-bordered" id="ListMS">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_LUU_HANH)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOC_GIA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_SACH)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NGAY_MUON)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.THOI_HAN_MUON)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TINH_TRANG)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_LUU_HANH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOC_GIA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_SACH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NGAY_MUON)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.THOI_HAN_MUON)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TINH_TRANG)
                    </td>
                </tr>
            }

        </table>
        </div>
    </section>>
